@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Poppins", sans-serif;
	font-weight: bold;
}

.container {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
}

.calculadora {
	background-color: aquamarine;

	width: 15rem;
	min-width: 240px;
	box-shadow: 10px -10px 80px 20px rgb(27, 27, 27);
	border-radius: 5px;
}

.calculadora-header {
	display: flex;
	justify-content: center;
}

.calculadora-visor {
	color: rgb(0, 255, 64);
	height: 3em;
	background-color: black;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 1.6rem;
	flex-wrap: wrap;
}

.calculadora-body {
	background-color: rgba(32, 32, 32, 0.911);
	border-radius: 0 0 5px 5px;
}

.calculadora-button {
	width: 3rem;
	height: 3rem;

	cursor: pointer;
	border: none;
	margin: 4px;
	font-size: 2rem;
    color: white;
    background-color: black;
}

.igual {
	background-color: orange;
}


.limpa{


background-color: red;



}